/* ################################  
            Font Family
################################ */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/* ################################  
          General Styles
################################ */
:root {
   --dark-cyan: hsl(185, 75%, 39%);
   --dark-gray: hsl(0, 0%, 59%);
   --grayish-blue: hsl(227, 10%, 46%);
   --very-dark-blue: hsl(229, 23%, 23%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Kambh Sans', sans-serif;
   font-size: 16px;
}

p {
   font-weight: 700;
}

span {
   font-weight: 300;
}

/* ################################  
          Layout Styles
################################ */
.App {
   align-items: center;
   background: url(./images/bgPatternTop.svg) right 49vw top -490px no-repeat,
      #19a2ae url(./images/bgPatternBottom.svg) left 47vw bottom -590px no-repeat;
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: center;
   text-align: center;
}

.top-bg {
   position: absolute;
   top: -350px;
   left: -200px;
}

.bottom-bg {
   position: absolute;
   top: 350px;
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}
